        body
        {
            padding: 0%;
            margin: 0%;
            
        
        }
        html
        {
            scroll-behavior: smooth;
        }
        .firstbox
        {
            
            padding: 0%;
            margin: 0%;
                        
            height: 700px;              
            background-color: #000000; 
            width: 100%;    
            

        }



        ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        height: 40px;
        width: 1350px;
      
        

        
        }
        ul li.left {
        float: left;               
        margin-left: 20px;
        
        
        }



        ul li.right {
        float: right;
        margin-left:28px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 19px;
        background-color: #000000;
         

        

        }
        ul li.left {
        float: left;
        margin-left:28px;
        font-family:Arial;
        font-size: 26px;
        background-color: #000000;
        font-weight:bold;
        margin-left: 0px; 
        margin-right: auto;

        

        }

        ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #000000;
        
        
        
        }
        ul li a.left {
        display: block;
        color:#5b62d6;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #000000;
        
        
        
        }

        ul li a:hover.right {

        background-color:#000000;
        color:#5b62d6;
        
        

        }
         


        .logo
        {   height: 40px;
            width: 50px;
            margin-bottom: -8px;
            margin-right: 10px;
            
            
        
}

        .maintxt 
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 80px;
            color:#f0fdf4 ;

        }

        .sec-text {
            max-width: 50%;
            justify-content: space-between;
        }

        .sec-text h1 {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .sec-text p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 30px;
            color: #ccc;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

       .btn {
            display: inline-block;
            padding: 12px 20px;
            background-color: #636ae8;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            border-radius: 0px;
            transition: background 0.3s ease;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .btn:hover {
            background-color:#636ae8;
        } 
        .main-image img {
            width: 530px;
            height: 380px;
            border-radius: 8px;
            margin-right: 30px;
                            
              
        }

        
        @media (max-width: 768px) {
            .hero {
                flex-direction: column;
                text-align: center;
            }


        .sec-text {
                max-width: 100%;
                margin-bottom: 20px;
            }

            .main-image img {
                width: 100%;
            }
        }

        .secondbox
        {
            height: 850px;              
            background-color: #171a1f; 
            width: 100%;      
                    
            

        }
        .sec-box-h-text
        {
        background-color: #171a1f;
        color: aliceblue;
        margin-top: 0%;
        margin-bottom: 0;
        padding-top: 70px;
        text-align: center;
        
        font-size: 33px;
        font-weight: bold;          
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .sec-box-p-text{
        text-align: center;
        color: white;
        margin:bottom 200mm;
        
        }


        .features-section {

            padding: 50px 80px;
            text-align: center;

        }

        .features-header h1 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        .features-header p {
            font-size: 16px;
            color: #ccc;
            margin-bottom: 40px;
        }

        .features-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 30px;
            justify-content:center;
            font-family: Arial, sans-serif;
            background-color: #171a1f;
            color: #fff;
        }

        .feature-box {
            background-color: #1a1d24;
            padding: 20px;
            border-radius: 8px;
            text-align: left;
            box-shadow: 0 4px 10px rgba(0,0,0,0.4);
            transition: transform 0.3s ease;
            width: 300px;
            height: 250px;
            margin: auto;
        }

        .feature-box:hover {
            transform: translateY(-5px);
        }

        .feature-box .icon {
            font-size: 28px;
            margin-bottom: 15px;
            color: #4b00ff;
        }

        .feature-box h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .feature-box p {
            font-size: 14px;
            color: #ccc;
            line-height: 1.6;
        }


                .thirdbox
                {  
                    margin-top: 0px;
                    height: 900px;              
                    background-color: #000000; 
                    width: 100%;      
                            
                }

                .third-box-h-text
                {
                background-color: #171a1f;
                color: aliceblue;
                margin-top: 0%;
                margin-bottom: 85px;
                padding-top: 5px;
                text-align: center;
                
                font-size: 33px;
                font-weight: bold;          
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

                .third-box-h2-text{
                background-color:#000000;
                color: aliceblue;
                margin-top: 0%;
                margin-bottom: 10px;
                padding-top: 5px;
                text-align: center;
                
                font-size: 33px;
                font-weight: bold;          
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
                }
                .third-box-p
                {
                    color: white;
                    text-align: center;

                }


                .client-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr); 
                    gap: 10px;
                    justify-content:center;
                    font-family: Arial, sans-serif;
                    background-color:#000000;
                    color: #fff;
                    
                }

                .client-box {
                    background-color: #1a1d24;
                    padding: 20px;
                    text-align: left;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
                    transition: transform 0.3s ease;
                    width: 320px;
                    height: 200px;
                    margin-bottom: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 5px;
                    
                }

                .client-box:hover {
                    transform: translateY(-5px);
                }

                .client-box .icon {
                    font-size: 30px;
                    margin-bottom: 15px;
                    color: #4b00ff;
                }

                .client-box h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .client-box p {
                    font-size: 14px;
                    color: #ccc;
                    line-height: 1.6;
                }

                .icon
                {
                    height: 50px;
                    width: auto;
                    color: #636ae8;
                    
                }
                           
            

                                


                                .fourthbox
                                {
                                    height: 600px;              
                                    background-color:#171a1f;   
                                    width: 100%; 
                                }
        
                                .btn2
                                {
                                    display: inline-block;
                                    padding: 12px 20px;
                                    background-color:#000000;
                                    color: #fff;
                                    text-decoration: none;
                                    font-weight: bold;
                                    border-radius: 0px;
                                    transition: background 0.3s ease;
                                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                }

                                .btn2:hover {
                                    background-color:#000000;
                                }

                                              .fifthbox
                                                    {
                                                        
                                                        padding: 0%;
                                                        margin: 0%;
                                                                    
                                                        height: 700px;              
                                                        background-color: #000000; 
                                                        width: 100%;    
                                                        

                                                    }   
                                                    .main-image{
                                                            width: 530px;
                                                            height: 380px;
                                                            border-radius: 8px;
                                                            margin-right: 30px;
                                                            padding-top: 80px;
                                                                            
                                                            
                                                        }   
                                                        
                                          

                                                    body {
                                                    background-color: #171a1f;
                                                    color: #fff;
                                                    }

                                                    
                                                    

                                                    .contact-section {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    padding: 50px;
                                                    gap: 50px;
                                                    }

                                                    .contact-left, .contact-right {
                                                    width: 45%;
                                                    }

                                                    .contact-left h2, .contact-right h2 {
                                                    font-size: 24px;
                                                    margin-bottom: 10px;
                                                    }

                                                    .contact-left p, .contact-right p {
                                                    color: #bbb;
                                                    margin-bottom: 20px;
                                                    }

                                                    form input, form textarea {
                                                    width: 100%;
                                                    padding: 10px;
                                                    margin-bottom: 15px;
                                                    border-radius: 6px;
                                                    border: 1px solid #444;
                                                    background-color: #e3e0ee;
                                                    color: #fff;
                                                    }

                                                    form textarea {
                                                    height: 100px;
                                                    }

                                                    .btn {
                                                    background-color: #4a90e2;
                                                    color: #fff;
                                                    padding: 10px;
                                                    border: none;
                                                    border-radius: 6px;
                                                    cursor: pointer;
                                                    }

                                                    .btn:hover {
                                                    background-color: #357ABD;
                                                    }

                                                    .contact-right ul {
                                                    list-style: none;
                                                    margin-bottom: 20px;
                                                    }

                                                    .contact-right ul li {
                                                    margin-bottom: 10px;
                                                    }

                                                    .social-icons span {
                                                    margin-right: 15px;
                                                    color: #4a90e2;
                                                    cursor: pointer;
                                                    }

                                                    .footer {
                                                    text-align: center;
                                                    padding: 20px;
                                                    background-color: #000000;
                                                    }

                                                    .footer-logo {
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    color: #4a90e2;   
                                                    margin-bottom: 10px;
                                                    }

                                                    .footer nav ul {
                                                    display: flex;
                                                    justify-content: center;
                                                    list-style: none;
                                                    gap: 20px;
                                                    margin-top: 10px;
                                                    }

